In [1]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('/home/sysadm/Downloads/Jan_2019_ontime.csv')
df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,1217305,HNL,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,1495503,SPN,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,1201602,GUM,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,1201602,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,1495503,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0

In [2]:
df.columns

Index(['DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST', 'DEP_TIME',
       'DEP_DEL15', 'DEP_TIME_BLK', 'ARR_TIME', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'DISTANCE'],
      dtype='object')

In [3]:
 g = df.iloc[0:10]

In [4]:
g11 = g[["ORIGIN_AIRPORT_ID","DEST_AIRPORT_ID","ORIGIN","DEST","DISTANCE"]]

In [5]:
g11

   ORIGIN_AIRPORT_ID  DEST_AIRPORT_ID ORIGIN DEST  DISTANCE
0              11953            10397    GNV  ATL     300.0
1              13487            11193    MSP  CVG     596.0
2              11433            11193    DTW  CVG     229.0
3              15249            10397    TLH  ATL     223.0
4              10397            11778    ATL  FSM     579.0
5              11267            13487    DAY  MSP     574.0
6              12448            10397    JAN  ATL     341.0
7              12953            11193    LGA  CVG     585.0
8              12451            12953    JAX  LGA     833.0
9              10397            10685    ATL  BMI     533.0

==>[a:v[12448],b:v[10397],c:v[11778]]
==>[a:v[12448],b:v[10397],c:v[10685]]
==>[a:v[11267],b:v[13487],c:v[11193]]
==>[a:v[12451],b:v[12953],c:v[11193]]
==>[a:v[11953],b:v[10397],c:v[11778]]
==>[a:v[11953],b:v[10397],c:v[10685]]
==>[a:v[15249],b:v[10397],c:v[11778]]
==>[a:v[15249],b:v[10397],c:v[10685]]

In [6]:
g11["ORIGIN"].unique()

array(['GNV', 'MSP', 'DTW', 'TLH', 'ATL', 'DAY', 'JAN', 'LGA', 'JAX'],
      dtype=object)

In [7]:
g11.to_csv("/home/sysadm/Downloads/check.csv",index = False)

In [8]:
 check = pd.read_csv("/home/sysadm/Downloads/check.csv")

In [9]:
check

   ORIGIN_AIRPORT_ID  DEST_AIRPORT_ID ORIGIN DEST  DISTANCE
0              11953            10397    GNV  ATL     300.0
1              13487            11193    MSP  CVG     596.0
2              11433            11193    DTW  CVG     229.0
3              15249            10397    TLH  ATL     223.0
4              10397            11778    ATL  FSM     579.0
5              11267            13487    DAY  MSP     574.0
6              12448            10397    JAN  ATL     341.0
7              12953            11193    LGA  CVG     585.0
8              12451            12953    JAX  LGA     833.0
9              10397            10685    ATL  BMI     533.0

In [10]:
import pandas as pd
import networkx as nx

def csv_to_graphml(csv_file, graphml_file):
    # Read CSV file into a pandas DataFrame
    df = pd.read_csv(csv_file)
    
    # Create an empty directed graph
    graph = nx.DiGraph()
    
    # Iterate over each row in the DataFrame
    for _, row in df.iterrows():
        source_node = int(row['ORIGIN_AIRPORT_ID'])  # Assuming 'ORIGIN_AIRPORT_ID' column contains the source nodes
        target_node = int(row['DEST_AIRPORT_ID'])  # Assuming 'DEST_AIRPORT_ID' column contains the target nodes
        
        # Add edges to the graph
        graph.add_edge(source_node, target_node)
        
        # Add nodes to the graph with attributes
        graph.add_node(source_node, **row)
        graph.add_node(target_node, **row)
    
    # Write the graph to a GraphML file
    nx.write_graphml(graph, graphml_file)
    # Count the number of edges in the graph
    num_edges = len(graph.edges())

    return num_edges

# Example usage
csv_file_path = "/home/sysadm/Downloads/check.csv"
graphml_file_path = '/home/sysadm/Downloads/check.graphml'
num_edges = csv_to_graphml(csv_file_path, graphml_file_path)
print("Number of edges in the graph:", num_edges)

Number of edges in the graph: 10

==>[a:v[12448],b:v[10397],c:v[11778]]
==>[a:v[12448],b:v[10397],c:v[10685]]
==>[a:v[11267],b:v[13487],c:v[11193]]
==>[a:v[12451],b:v[12953],c:v[11193]]
==>[a:v[11953],b:v[10397],c:v[11778]]
==>[a:v[11953],b:v[10397],c:v[10685]]
==>[a:v[15249],b:v[10397],c:v[11778]]
==>[a:v[15249],b:v[10397],c:v[10685]]

gremlin> graph = TinkerGraph.open()
==>tinkergraph[vertices:0 edges:0]
gremlin> conf = new BaseConfiguration()
==>org.apache.commons.configuration2.BaseConfiguration@2233cac0
gremlin> conf.setProperty("gremlin.tinkergraph.vertexIdManager","LONG")
==>null
gremlin> conf.setProperty("gremlin.tinkergraph.edgeIdManager","LONG")
==>null
gremlin> conf.setProperty("gremlin.tinkergraph.vertexPropertyIdManager","LONG")
==>null
gremlin> graph = TinkerGraph.open(conf)
==>tinkergraph[vertices:0 edges:0]
gremlin> graph.io(graphml()).readGraph('/home/sysadm/Downloads/check.graphml')   
==>null
gremlin> :set max-iteration 1000 
gremlin> g=graph.traversal()
==>graphtraversalsource[tinkergraph[vertices:12 edges:10], standard]
gremlin>  g.V().as('a').outE().as('ab').inV().as('b').outE().as('bc').inV().as('c').not(__.as('a').out().hasLabel('c')).where('c', neq('a')).select('a', 'b', 'c').by('id').count()
==>8
gremlin> g.V().as('a').out().as('b').out().as('c')
==>v[11778]
==>v[10685]
==>v[11193]
==>v[11193]
==>v[11778]
==>v[10685]
==>v[11778]
==>v[10685]
-------------------------------------------------
gremlin> g.V().as('a').out().as('b').out().as('c').where('a', neq('c')).select('a', 'b', 'c')
==>[a:v[12448],b:v[10397],c:v[11778]]
==>[a:v[12448],b:v[10397],c:v[10685]]
==>[a:v[11267],b:v[13487],c:v[11193]]
==>[a:v[12451],b:v[12953],c:v[11193]]
==>[a:v[11953],b:v[10397],c:v[11778]]
==>[a:v[11953],b:v[10397],c:v[10685]]
==>[a:v[15249],b:v[10397],c:v[11778]]
==>[a:v[15249],b:v[10397]