import necesasry library

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/sysadm/anaconda3/lib/python3.9/site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/sysadm/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark import SparkContext

In [3]:
from pyspark.sql import SparkSession

# Get or create SparkSession
spark = SparkSession.builder.getOrCreate()

# Rest of the code...

In [4]:

from __future__ import print_function
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, VectorIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [5]:
data = spark.read.csv("Admission_Predict.csv",header = True)

In [6]:
import pandas as pd

In [7]:
type(data)

pyspark.sql.dataframe.DataFrame

In [8]:
data.show()

+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|Serial No.|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
|         1|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|         2|      324|        107|                4|  4| 4.5|8.87|       1|            0.76|
|         3|      316|        104|                3|  3| 3.5|   8|       1|            0.72|
|         4|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|         5|      314|        103|                2|  2|   3|8.21|       0|            0.65|
|         6|      330|        115|                5|4.5|   3|9.34|       1|             0.9|
|         7|      321|        109|                3|  3|   4| 8.2|       1|            0.75|
|         8|      308|        101|                2|  3|   4| 7.9|       0|            0.68|
|         9|      302|        102|                1|  2| 1.5|   8|       0|             0.5|
|        10|      323|        108|                3|3.5|   3| 8.6|       0|            0.45|
|        11|      325|        106|                3|3.5|   4| 8.4|       1|            0.52|
|        12|      327|        111|                4|  4| 4.5|   9|       1|            0.84|
|        13|      328|        112|                4|  4| 4.5| 9.1|       1|            0.78|
|        14|      307|        109|                3|  4|   3|   8|       1|            0.62|
|        15|      311|        104|                3|3.5|   2| 8.2|       1|            0.61|
|        16|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|
|        17|      317|        107|                3|  4|   3| 8.7|       0|            0.66|
|        18|      319|        106|                3|  4|   3|   8|       1|            0.65|
|        19|      318|        110|                3|  4|   3| 8.8|       0|            0.63|
|        20|      303|        102|                3|3.5|   3| 8.5|       0|            0.62|
+----------+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 20 rows

Remove serial no for further work

In [9]:
data = data.drop("Serial No.")
data.printSchema()

root
 |-- GRE Score: string (nullable = true)
 |-- TOEFL Score: string (nullable = true)
 |-- University Rating: string (nullable = true)
 |-- SOP: string (nullable = true)
 |-- LOR : string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Research: string (nullable = true)
 |-- Chance of Admit : string (nullable = true)

In [10]:
data.show(50)

+---------+-----------+-----------------+---+----+----+--------+----------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+---------+-----------+-----------------+---+----+----+--------+----------------+
|      337|        118|                4|4.5| 4.5|9.65|       1|            0.92|
|      324|        107|                4|  4| 4.5|8.87|       1|            0.76|
|      316|        104|                3|  3| 3.5|   8|       1|            0.72|
|      322|        110|                3|3.5| 2.5|8.67|       1|             0.8|
|      314|        103|                2|  2|   3|8.21|       0|            0.65|
|      330|        115|                5|4.5|   3|9.34|       1|             0.9|
|      321|        109|                3|  3|   4| 8.2|       1|            0.75|
|      308|        101|                2|  3|   4| 7.9|       0|            0.68|
|      302|        102|                1|  2| 1.5|   8|       0|             0.5|
|      323|        108|                3|3.5|   3| 8.6|       0|            0.45|
|      325|        106|                3|3.5|   4| 8.4|       1|            0.52|
|      327|        111|                4|  4| 4.5|   9|       1|            0.84|
|      328|        112|                4|  4| 4.5| 9.1|       1|            0.78|
|      307|        109|                3|  4|   3|   8|       1|            0.62|
|      311|        104|                3|3.5|   2| 8.2|       1|            0.61|
|      314|        105|                3|3.5| 2.5| 8.3|       0|            0.54|
|      317|        107|                3|  4|   3| 8.7|       0|            0.66|
|      319|        106|                3|  4|   3|   8|       1|            0.65|
|      318|        110|                3|  4|   3| 8.8|       0|            0.63|
|      303|        102|                3|3.5|   3| 8.5|       0|            0.62|
|      312|        107|                3|  3|   2| 7.9|       1|            0.64|
|      325|        114|                4|  3|   2| 8.4|       0|             0.7|
|      328|        116|                5|  5|   5| 9.5|       1|            0.94|
|      334|        119|                5|  5| 4.5| 9.7|       1|            0.95|
|      336|        119|                5|  4| 3.5| 9.8|       1|            0.97|
|      340|        120|                5|4.5| 4.5| 9.6|       1|            0.94|
|      322|        109|                5|4.5| 3.5| 8.8|       0|            0.76|
|      298|         98|                2|1.5| 2.5| 7.5|       1|            0.44|
|      295|         93|                1|  2|   2| 7.2|       0|            0.46|
|      310|         99|                2|1.5|   2| 7.3|       0|            0.54|
|      300|         97|                2|  3|   3| 8.1|       1|            0.65|
|      327|        103|                3|  4|   4| 8.3|       1|            0.74|
|      338|        118|                4|  3| 4.5| 9.4|       1|            0.91|
|      340|        114|                5|  4|   4| 9.6|       1|             0.9|
|      331|        112|                5|  4|   5| 9.8|       1|            0.94|
|      320|        110|                5|  5|   5| 9.2|       1|            0.88|
|      299|        106|                2|  4|   4| 8.4|       0|            0.64|
|      300|        105|                1|  1|   2| 7.8|       0|            0.58|
|      304|        105|                1|  3| 1.5| 7.5|       0|            0.52|
|      307|        108|                2|  4| 3.5| 7.7|       0|            0.48|
|      308|        110|                3|3.5|   3|   8|       1|            0.46|
|      316|        105|                2|2.5| 2.5| 8.2|       1|            0.49|
|      313|        107|                2|2.5|   2| 8.5|       1|            0.53|
|      332|        117|                4|4.5|   4| 9.1|       0|            0.87|
|      326|        113|                5|4.5|   4| 9.4|       1|            0.91|
|      322|        110|                5|  5|   4| 9.1|       1|            0.88|
|      329|        114|                5|  4|   5| 9.3|       1|            0.86|
|      339|        119|                5|4.5|   4| 9.7|       0|            0.89|
|      321|        110|                3|3.5|   5|8.85|       1|            0.82|
|      327|        111|                4|  3|   4| 8.4|       1|            0.78|
+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 50 rows

In [11]:
data.printSchema()

root
 |-- GRE Score: string (nullable = true)
 |-- TOEFL Score: string (nullable = true)
 |-- University Rating: string (nullable = true)
 |-- SOP: string (nullable = true)
 |-- LOR : string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Research: string (nullable = true)
 |-- Chance of Admit : string (nullable = true)

In [12]:
data.columns

['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [13]:
from pyspark.sql.functions import col

new_data = data.withColumn("GRE Score", col("GRE Score").cast("float")) \
               .withColumn("TOEFL Score", col("TOEFL Score").cast("float")) \
               .withColumn("University Rating", col("University Rating").cast("float")) \
               .withColumn("SOP", col("SOP").cast("float")) \
               .withColumn("LOR ", col("LOR ").cast("float")) \
               .withColumn("CGPA", col("CGPA").cast("float")) \
               .withColumn("Research", col("Research").cast("float")) \
               .withColumn("Chance of Admit ", col("Chance of Admit ").cast("float"))

new_data.printSchema()

root
 |-- GRE Score: float (nullable = true)
 |-- TOEFL Score: float (nullable = true)
 |-- University Rating: float (nullable = true)
 |-- SOP: float (nullable = true)
 |-- LOR : float (nullable = true)
 |-- CGPA: float (nullable = true)
 |-- Research: float (nullable = true)
 |-- Chance of Admit : float (nullable = true)

In [14]:
new_data.show()

+---------+-----------+-----------------+---+----+----+--------+----------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+---------+-----------+-----------------+---+----+----+--------+----------------+
|    337.0|      118.0|              4.0|4.5| 4.5|9.65|     1.0|            0.92|
|    324.0|      107.0|              4.0|4.0| 4.5|8.87|     1.0|            0.76|
|    316.0|      104.0|              3.0|3.0| 3.5| 8.0|     1.0|            0.72|
|    322.0|      110.0|              3.0|3.5| 2.5|8.67|     1.0|             0.8|
|    314.0|      103.0|              2.0|2.0| 3.0|8.21|     0.0|            0.65|
|    330.0|      115.0|              5.0|4.5| 3.0|9.34|     1.0|             0.9|
|    321.0|      109.0|              3.0|3.0| 4.0| 8.2|     1.0|            0.75|
|    308.0|      101.0|              2.0|3.0| 4.0| 7.9|     0.0|            0.68|
|    302.0|      102.0|              1.0|2.0| 1.5| 8.0|     0.0|             0.5|
|    323.0|      108.0|              3.0|3.5| 3.0| 8.6|     0.0|            0.45|
|    325.0|      106.0|              3.0|3.5| 4.0| 8.4|     1.0|            0.52|
|    327.0|      111.0|              4.0|4.0| 4.5| 9.0|     1.0|            0.84|
|    328.0|      112.0|              4.0|4.0| 4.5| 9.1|     1.0|            0.78|
|    307.0|      109.0|              3.0|4.0| 3.0| 8.0|     1.0|            0.62|
|    311.0|      104.0|              3.0|3.5| 2.0| 8.2|     1.0|            0.61|
|    314.0|      105.0|              3.0|3.5| 2.5| 8.3|     0.0|            0.54|
|    317.0|      107.0|              3.0|4.0| 3.0| 8.7|     0.0|            0.66|
|    319.0|      106.0|              3.0|4.0| 3.0| 8.0|     1.0|            0.65|
|    318.0|      110.0|              3.0|4.0| 3.0| 8.8|     0.0|            0.63|
|    303.0|      102.0|              3.0|3.5| 3.0| 8.5|     0.0|            0.62|
+---------+-----------+-----------------+---+----+----+--------+----------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col, count, isnan, when

In [16]:
for c in new_data.columns:
    print(c)

GRE Score
TOEFL Score
University Rating
SOP
LOR
CGPA
Research
Chance of Admit

In [17]:
### Checking for null ir nan type values in out columns
new_data.select([count(when(col(c).isNull(), c)).alias(c) for c in new_data.columns]).show()

+---------+-----------+-----------------+---+----+----+--------+----------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|Chance of Admit |
+---------+-----------+-----------------+---+----+----+--------+----------------+
|        0|          0|                0|  0|   0|   0|       0|               0|
+---------+-----------+-----------------+---+----+----+--------+----------------+

In [18]:
new_data

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR : float, CGPA: float, Research: float, Chance of Admit : float]

In [19]:
features = new_data.drop('Chance of Admit ')

In [20]:
features

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR : float, CGPA: float, Research: float]

In [21]:
features.show(2)

+---------+-----------+-----------------+---+----+----+--------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR |CGPA|Research|
+---------+-----------+-----------------+---+----+----+--------+
|    337.0|      118.0|              4.0|4.5| 4.5|9.65|     1.0|
|    324.0|      107.0|              4.0|4.0| 4.5|8.87|     1.0|
+---------+-----------+-----------------+---+----+----+--------+
only showing top 2 rows

In [22]:
#let's assemble our features together using vectorAssembler
assembler = VectorAssembler( inputCols=features.columns,outputCol="features")

In [23]:
output = assembler.transform(new_data)

In [24]:
output

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR : float, CGPA: float, Research: float, Chance of Admit : float, features: vector]

implement linear regression

In [26]:
output= output.select("features", "Chance of Admit ")

In [27]:
output = assembler.transform(new_data)

In [28]:
output

DataFrame[GRE Score: float, TOEFL Score: float, University Rating: float, SOP: float, LOR : float, CGPA: float, Research: float, Chance of Admit : float, features: vector]

In [30]:
output= output.select("features", "Chance of Admit ")

In [32]:
train_df,test_df = output.randomSplit([0.7, 0.3])

In [33]:
train_df.show()
test_df.show()

+--------------------+----------------+
|            features|Chance of Admit |
+--------------------+----------------+
|[290.0,104.0,4.0,...|            0.45|
|[293.0,97.0,2.0,2...|            0.64|
|[294.0,95.0,1.0,1...|            0.49|
|[295.0,99.0,2.0,2...|            0.57|
|[296.0,95.0,2.0,3...|            0.44|
|[296.0,97.0,2.0,1...|            0.49|
|[296.0,99.0,2.0,2...|            0.61|
|[296.0,101.0,1.0,...|             0.6|
|[297.0,96.0,2.0,2...|            0.43|
|[297.0,96.0,2.0,2...|            0.34|
|[297.0,98.0,2.0,2...|            0.59|
|[297.0,100.0,1.0,...|            0.52|
|[298.0,92.0,1.0,2...|            0.51|
|[298.0,98.0,2.0,1...|            0.44|
|[298.0,98.0,2.0,4...|            0.34|
|[298.0,99.0,2.0,4...|            0.46|
|[298.0,105.0,3.0,...|            0.69|
|[299.0,94.0,1.0,1...|            0.42|
|[299.0,96.0,2.0,1...|            0.54|
|[299.0,97.0,3.0,5...|            0.38|
+--------------------+----------------+
only showing top 20 rows

+--------------------+----------------+
|            features|Chance of Admit |
+--------------------+----------------+
|[290.0,100.0,1.0,...|            0.47|
|[294.0,93.0,1.0,1...|            0.46|
|[295.0,93.0,1.0,2...|            0.46|
|[295.0,96.0,2.0,1...|            0.47|
|[295.0,101.0,2.0,...|            0.69|
|[296.0,99.0,2.0,3...|            0.47|
|[298.0,99.0,1.0,1...|            0.53|
|[298.0,101.0,2.0,...|            0.54|
|[299.0,100.0,1.0,...|            0.59|
|[299.0,100.0,3.0,...|            0.63|
|[299.0,102.0,3.0,...|            0.56|
|[300.0,100.0,3.0,...|            0.62|
|[301.0,98.0,1.0,2...|            0.67|
|[301.0,99.0,2.0,3...|            0.64|
|[301.0,100.0,3.0,...|            0.67|
|[301.0,104.0,2.0,...|            0.68|
|[301.0,106.0,4.0,...|            0.57|
|[301.0,107.0,3.0,...|            0.62|
|[302.0,99.0,1.0,2...|            0.57|
|[302.0,99.0,2.0,1...|            0.56|
+--------------------+----------------+
only showing top 20 rows

In [34]:
lin_reg = LinearRegression(featuresCol = 'features', labelCol='Chance of Admit ')
linear_model = lin_reg.fit(train_df)

23/06/23 16:00:00 WARN Instrumentation: [ac170755] regParam is zero, which might cause numerical instability and overfitting.
23/06/23 16:00:01 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
23/06/23 16:00:01 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
23/06/23 16:00:01 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
23/06/23 16:00:01 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

In [35]:

print("Coefficients: " + str(linear_model.coefficients))
print("Intercept: " + str(linear_model.intercept))

Coefficients: [0.0019815674751623405,0.0038676717057704495,0.004665619553436757,-0.0043041063174017085,0.023785434284714906,0.11936720304496554,0.017113173430002016]
Intercept: -1.435505219014181

In [36]:

trainSummary = linear_model.summary
print("RMSE: %f" % trainSummary.rootMeanSquaredError)
print("r2: %f" % trainSummary.r2)

RMSE: 0.061823
r2: 0.811308

In [38]:

# prediction

predictions = linear_model.transform(test_df)
predictions.select("prediction","Chance of Admit ","features").show()

+-------------------+----------------+--------------------+
|         prediction|Chance of Admit |            features|
+-------------------+----------------+--------------------+
|0.47411289619640007|            0.47|[290.0,100.0,1.0,...|
| 0.4310920463151504|            0.46|[294.0,93.0,1.0,1...|
| 0.4118227694396892|            0.46|[295.0,93.0,1.0,2...|
| 0.4469549066769103|            0.47|[295.0,96.0,2.0,1...|
| 0.5240601021949938|            0.69|[295.0,101.0,2.0,...|
|0.48259945586790165|            0.47|[296.0,99.0,2.0,3...|
|0.49794648965589006|            0.53|[298.0,99.0,1.0,1...|
| 0.5343089109378827|            0.54|[298.0,101.0,2.0,...|
| 0.5313381713707048|            0.59|[299.0,100.0,1.0,...|
| 0.5540351642939334|            0.63|[299.0,100.0,3.0,...|
| 0.6604607000222611|            0.56|[299.0,102.0,3.0,...|
| 0.6160388782885731|            0.62|[300.0,100.0,3.0,...|
| 0.5830239099545587|            0.67|[301.0,98.0,1.0,2...|
|  0.569034319509155|            0.64|[301.0,99.0,2.0,3...|
|  0.577714858918303|            0.67|[301.0,100.0,3.0,...|
| 0.5996207249198191|            0.68|[301.0,104.0,2.0,...|
| 0.6612185487610787|            0.57|[301.0,106.0,4.0,...|
| 0.6696046351120324|            0.62|[301.0,107.0,3.0,...|
| 0.4548681549201836|            0.57|[302.0,99.0,1.0,2...|
| 0.5497822419391611|            0.56|[302.0,99.0,2.0,1...|
+-------------------+----------------+--------------------+
only showing top 20 rows